@use "sass:color";
// @mixin button-color($classname, $background, $text-color) {
//   &.#{$classname} {
//     color: $text-color;
//     background-color: #209cee;

//     &::after {
//       box-shadow: inset -4px -4px color.scale($background, $lightness: -30%);
//     }

//     &:active::after {
//       box-shadow: inset 4px 4px color.scale($background, $lightness: -30%);
//     }
//   }
// }

.nes-btn {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // color: #212529;
  border-style: solid;
  // background-color: #fff;
  border-width: 4px;

  &::after {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
    // box-shadow: inset -4px -4px #adafbc;
  }

  // @include button-color(primary, #209cee, #fff);
  // @include button-color(success, #4aa52e, #fff);
  // @include button-color(warining, #f7d51d, #212529);
  // @include button-color(error, #e76e55, #fff);
  // @include button-color(disabled, #d3d3d3, #212529);
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
