.spacer{
    flex-grow:1;
    flex-basis: auto;
    display: block;
}

.actions{
    margin-right: 3rem;
    display: flex;
    gap:1rem;
}

.settings-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}