<mat-toolbar color="primary">
  <span>{{phase()}}</span>

  <span class="spacer"></span>
  <app-nes-button color="accent" (click)="clickOnPlayPauseBtn(phase())">{{buttonLabel()}}</app-nes-button>
  <!-- @if(phase()==='play'){
  <button (click)="pauseGame()">PAUSE</button>
  } @else if (phase()==='pause') {
  <button (click)="playGame()">PLAY</button>

  }@else if (phase()==='lost') {
  <button (click)="resetGame()">RESTART</button>
  } -->
  <button
    mat-icon-button
    class="settings-icon"
    aria-label="Example icon-button with share icon"
    (click)="openSettings()"
  >
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
