@use "sass:color";
@use "sass:map";


@use '../utils/theming' as th;
/// theming of dialog.component.html
/// 
@mixin modal-dialog($theme){

    $color-map: th.get-main-colors-map($theme);
    $primary-color: map.get($color-map, "primary");
    $primary-contrast-color: map.get($color-map, "primary-contrast");
    $accent-color: map.get($color-map, "accent");
    $accent-contrast-color: map.get($color-map, "accent-contrast");
    $warn-color: map.get($color-map, "warn");
    $warn-contrast-color: map.get($color-map, "warn-contrast");
     
    .modal-dialog-colors{
        $color1: color.scale($primary-color, $alpha: -5%);
        $color2: color.scale($accent-color, $alpha: -5%);
       
        background: linear-gradient($color2 0%, $color1 90%);
       

    
    }

}