@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Oxygen:wght@300;400;700&family=Press+Start+2P&display=swap");

@mixin pressToPlayFont {
  font-family: "Montserrat Subrayada", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "Press Start 2P", system-ui;
}
