@use "../themify-components" as tmc;
@use "../create-mat-theme" as ct;
@use "../theme-components" as c;

$dark-theme: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$dark-theme-accent: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-theme: ct.create-material-theme-from-palette(
  $primary-map: $dark-theme,
  $accent-map: $dark-theme-accent,
  $type: "dark",
);

.dark {
  // @debug $dark-theme;
  @include tmc.themify-mat-components($mat-theme: $dark-theme);
  @include c.theme-components($dark-theme);
}

// $t: (
//   color: (
//     primary: (
//       50: #e0e0e0,
//       100: #b3b3b3,
//       200: #808080,
//       300: #4d4d4d,
//       400: #262626,
//       500: #000000,
//       600: #000000,
//       700: #000000,
//       800: #000000,
//       900: #000000,
//       A100: #a6a6a6,
//       A200: #8c8c8c,
//       A400: #737373,
//       A700: #666666,
//       contrast: (
//         50: #000000,
//         100: #000000,
//         200: #000000,
//         300: #ffffff,
//         400: #ffffff,
//         500: #ffffff,
//         600: #ffffff,
//         700: #ffffff,
//         800: #ffffff,
//         900: #ffffff,
//         A100: #000000,
//         A200: #000000,
//         A400: #ffffff,
//         A700: #ffffff,
//       ),
//       default: #000000,
//       lighter: #b3b3b3,
//       darker: #000000,
//       text: #000000,
//       default-contrast: #ffffff,
//       lighter-contrast: #000000,
//       darker-contrast: #ffffff,
//       "50-contrast": #000000,
//       "100-contrast": #000000,
//       "200-contrast": #000000,
//       "300-contrast": #ffffff,
//       "400-contrast": #ffffff,
//       "500-contrast": #ffffff,
//       "600-contrast": #ffffff,
//       "700-contrast": #ffffff,
//       "800-contrast": #ffffff,
//       "900-contrast": #ffffff,
//       "A100-contrast": #000000,
//       "A200-contrast": #000000,
//       "A400-contrast": #ffffff,
//       "A700-contrast": #ffffff,
//       "contrast-contrast": null,
//     ),
//     accent: (
//       50: #ffffff,
//       100: #ffffff,
//       200: #ffffff,
//       300: #ffffff,
//       400: #ffffff,
//       500: #ffffff,
//       600: #ffffff,
//       700: #ffffff,
//       800: #ffffff,
//       900: #ffffff,
//       A100: #ffffff,
//       A200: #ffffff,
//       A400: #ffffff,
//       A700: #ffffff,
//       contrast: (
//         50: #000000,
//         100: #000000,
//         200: #000000,
//         300: #000000,
//         400: #000000,
//         500: #000000,
//         600: #000000,
//         700: #000000,
//         800: #000000,
//         900: #000000,
//         A100: #000000,
//         A200: #000000,
//         A400: #000000,
//         A700: #000000,
//       ),
//       default: #ffffff,
//       lighter: #ffffff,
//       darker: #ffffff,
//       text: #ffffff,
//       default-contrast: #000000,
//       lighter-contrast: #000000,
//       darker-contrast: #000000,
//       "50-contrast": #000000,
//       "100-contrast": #000000,
//       "200-contrast": #000000,
//       "300-contrast": #000000,
//       "400-contrast": #000000,
//       "500-contrast": #000000,
//       "600-contrast": #000000,
//       "700-contrast": #000000,
//       "800-contrast": #000000,
//       "900-contrast": #000000,
//       "A100-contrast": #000000,
//       "A200-contrast": #000000,
//       "A400-contrast": #000000,
//       "A700-contrast": #000000,
//       "contrast-contrast": null,
//     ),
//     warn: (
//       50: #ffebee,
//       100: #ffcdd2,
//       200: #ef9a9a,
//       300: #e57373,
//       400: #ef5350,
//       500: #f44336,
//       600: #e53935,
//       700: #d32f2f,
//       800: #c62828,
//       900: #b71c1c,
//       A100: #ff8a80,
//       A200: #ff5252,
//       A400: #ff1744,
//       A700: #d50000,
//       contrast: (
//         50: rgba(0, 0, 0, 0.87),
//         100: rgba(0, 0, 0, 0.87),
//         200: rgba(0, 0, 0, 0.87),
//         300: rgba(0, 0, 0, 0.87),
//         400: rgba(0, 0, 0, 0.87),
//         500: white,
//         600: white,
//         700: white,
//         800: white,
//         900: white,
//         A100: rgba(0, 0, 0, 0.87),
//         A200: white,
//         A400: white,
//         A700: white,
//       ),
//       default: #f44336,
//       lighter: #ffcdd2,
//       darker: #d32f2f,
//       text: #f44336,
//       default-contrast: white,
//       lighter-contrast: rgba(0, 0, 0, 0.87),
//       darker-contrast: white,
//       "50-contrast": rgba(0, 0, 0, 0.87),
//       "100-contrast": rgba(0, 0, 0, 0.87),
//       "200-contrast": rgba(0, 0, 0, 0.87),
//       "300-contrast": rgba(0, 0, 0, 0.87),
//       "400-contrast": rgba(0, 0, 0, 0.87),
//       "500-contrast": white,
//       "600-contrast": white,
//       "700-contrast": white,
//       "800-contrast": white,
//       "900-contrast": white,
//       "A100-contrast": rgba(0, 0, 0, 0.87),
//       "A200-contrast": white,
//       "A400-contrast": white,
//       "A700-contrast": white,
//       "contrast-contrast": null,
//     ),
//     is-dark: true,
//     foreground: (
//       base: white,
//       divider: rgba(255, 255, 255, 0.12),
//       dividers: rgba(255, 255, 255, 0.12),
//       disabled: rgba(255, 255, 255, 0.5),
//       disabled-button: rgba(255, 255, 255, 0.3),
//       disabled-text: rgba(255, 255, 255, 0.5),
//       elevation: black,
//       hint-text: rgba(255, 255, 255, 0.5),
//       secondary-text: rgba(255, 255, 255, 0.7),
//       icon: white,
//       icons: white,
//       text: white,
//       slider-min: white,
//       slider-off: rgba(255, 255, 255, 0.3),
//       slider-off-active: rgba(255, 255, 255, 0.3),
//     ),
//     background: (
//       status-bar: black,
//       app-bar: #212121,
//       background: #303030,
//       hover: rgba(255, 255, 255, 0.04),
//       card: #424242,
//       dialog: #424242,
//       disabled-button: rgba(255, 255, 255, 0.12),
//       raised-button: #424242,
//       focused-button: rgba(255, 255, 255, 0.12),
//       selected-button: #212121,
//       selected-disabled-button: #424242,
//       disabled-button-toggle: black,
//       unselected-chip: #616161,
//       disabled-list-option: rgba(255, 255, 255, 0.12),
//       tooltip: #616161,
//     ),
//   ),
//   primary: (
//     50: #e0e0e0,
//     100: #b3b3b3,
//     200: #808080,
//     300: #4d4d4d,
//     400: #262626,
//     500: #000000,
//     600: #000000,
//     700: #000000,
//     800: #000000,
//     900: #000000,
//     A100: #a6a6a6,
//     A200: #8c8c8c,
//     A400: #737373,
//     A700: #666666,
//     contrast: (
//       50: #000000,
//       100: #000000,
//       200: #000000,
//       300: #ffffff,
//       400: #ffffff,
//       500: #ffffff,
//       600: #ffffff,
//       700: #ffffff,
//       800: #ffffff,
//       900: #ffffff,
//       A100: #000000,
//       A200: #000000,
//       A400: #ffffff,
//       A700: #ffffff,
//     ),
//     default: #000000,
//     lighter: #b3b3b3,
//     darker: #000000,
//     text: #000000,
//     default-contrast: #ffffff,
//     lighter-contrast: #000000,
//     darker-contrast: #ffffff,
//     "50-contrast": #000000,
//     "100-contrast": #000000,
//     "200-contrast": #000000,
//     "300-contrast": #ffffff,
//     "400-contrast": #ffffff,
//     "500-contrast": #ffffff,
//     "600-contrast": #ffffff,
//     "700-contrast": #ffffff,
//     "800-contrast": #ffffff,
//     "900-contrast": #ffffff,
//     "A100-contrast": #000000,
//     "A200-contrast": #000000,
//     "A400-contrast": #ffffff,
//     "A700-contrast": #ffffff,
//     "contrast-contrast": null,
//   ),
//   accent: (
//     50: #ffffff,
//     100: #ffffff,
//     200: #ffffff,
//     300: #ffffff,
//     400: #ffffff,
//     500: #ffffff,
//     600: #ffffff,
//     700: #ffffff,
//     800: #ffffff,
//     900: #ffffff,
//     A100: #ffffff,
//     A200: #ffffff,
//     A400: #ffffff,
//     A700: #ffffff,
//     contrast: (
//       50: #000000,
//       100: #000000,
//       200: #000000,
//       300: #000000,
//       400: #000000,
//       500: #000000,
//       600: #000000,
//       700: #000000,
//       800: #000000,
//       900: #000000,
//       A100: #000000,
//       A200: #000000,
//       A400: #000000,
//       A700: #000000,
//     ),
//     default: #ffffff,
//     lighter: #ffffff,
//     darker: #ffffff,
//     text: #ffffff,
//     default-contrast: #000000,
//     lighter-contrast: #000000,
//     darker-contrast: #000000,
//     "50-contrast": #000000,
//     "100-contrast": #000000,
//     "200-contrast": #000000,
//     "300-contrast": #000000,
//     "400-contrast": #000000,
//     "500-contrast": #000000,
//     "600-contrast": #000000,
//     "700-contrast": #000000,
//     "800-contrast": #000000,
//     "900-contrast": #000000,
//     "A100-contrast": #000000,
//     "A200-contrast": #000000,
//     "A400-contrast": #000000,
//     "A700-contrast": #000000,
//     "contrast-contrast": null,
//   ),
//   warn: (
//     50: #ffebee,
//     100: #ffcdd2,
//     200: #ef9a9a,
//     300: #e57373,
//     400: #ef5350,
//     500: #f44336,
//     600: #e53935,
//     700: #d32f2f,
//     800: #c62828,
//     900: #b71c1c,
//     A100: #ff8a80,
//     A200: #ff5252,
//     A400: #ff1744,
//     A700: #d50000,
//     contrast: (
//       50: rgba(0, 0, 0, 0.87),
//       100: rgba(0, 0, 0, 0.87),
//       200: rgba(0, 0, 0, 0.87),
//       300: rgba(0, 0, 0, 0.87),
//       400: rgba(0, 0, 0, 0.87),
//       500: white,
//       600: white,
//       700: white,
//       800: white,
//       900: white,
//       A100: rgba(0, 0, 0, 0.87),
//       A200: white,
//       A400: white,
//       A700: white,
//     ),
//     default: #f44336,
//     lighter: #ffcdd2,
//     darker: #d32f2f,
//     text: #f44336,
//     default-contrast: white,
//     lighter-contrast: rgba(0, 0, 0, 0.87),
//     darker-contrast: white,
//     "50-contrast": rgba(0, 0, 0, 0.87),
//     "100-contrast": rgba(0, 0, 0, 0.87),
//     "200-contrast": rgba(0, 0, 0, 0.87),
//     "300-contrast": rgba(0, 0, 0, 0.87),
//     "400-contrast": rgba(0, 0, 0, 0.87),
//     "500-contrast": white,
//     "600-contrast": white,
//     "700-contrast": white,
//     "800-contrast": white,
//     "900-contrast": white,
//     "A100-contrast": rgba(0, 0, 0, 0.87),
//     "A200-contrast": white,
//     "A400-contrast": white,
//     "A700-contrast": white,
//     "contrast-contrast": null,
//   ),
//   is-dark: true,
//   foreground: (
//     base: white,
//     divider: rgba(255, 255, 255, 0.12),
//     dividers: rgba(255, 255, 255, 0.12),
//     disabled: rgba(255, 255, 255, 0.5),
//     disabled-button: rgba(255, 255, 255, 0.3),
//     disabled-text: rgba(255, 255, 255, 0.5),
//     elevation: black,
//     hint-text: rgba(255, 255, 255, 0.5),
//     secondary-text: rgba(255, 255, 255, 0.7),
//     icon: white,
//     icons: white,
//     text: white,
//     slider-min: white,
//     slider-off: rgba(255, 255, 255, 0.3),
//     slider-off-active: rgba(255, 255, 255, 0.3),
//   ),
//   background: (
//     status-bar: black,
//     app-bar: #212121,
//     background: #303030,
//     hover: rgba(255, 255, 255, 0.04),
//     card: #424242,
//     dialog: #424242,
//     disabled-button: rgba(255, 255, 255, 0.12),
//     raised-button: #424242,
//     focused-button: rgba(255, 255, 255, 0.12),
//     selected-button: #212121,
//     selected-disabled-button: #424242,
//     disabled-button-toggle: black,
//     unselected-chip: #616161,
//     disabled-list-option: rgba(255, 255, 255, 0.12),
//     tooltip: #616161,
//   ),
// );
